html, body {
    font-size: 100%;
    background: #fff;
    font-family: 'Cabin', sans-serif;
}

p {
    margin: 0;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

/*Header*/
.header {
    background: #1d1811;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    float: left;
    height: 80px;
    padding: 31px 0 0;
    font-size: 3.5em;
    line-height: 20px;
    color: #fff !important;
    font-family: 'Alex Brush', cursive;
}

.navbar-nav {
    margin: 0 0 0 10em;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f89406;
}

.navbar-nav > li > a {
    padding: 30px 20px 0;
}

ul.nav.navbar-nav li a.active {
    color: #f89406;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #F89422;
    background-color: transparent;
}

.dropdown-menu {
    min-width: 130px;
    padding: 10px 0;
    margin: 0;
    background-color: #EC6E2D;
}

.dropdown-menu > li > a:before {
    display: none;
}

.dropdown-menu > li > a {
    display: block !important;
    padding: 8px 21px;
}

.login-button {
    float: right;
}

/*Nav Effect*/
nav.cl-effect-13 a {
    position: relative;
    display: inline-block;
    margin: 0;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 15px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #F89422;
    background-color: transparent;
}

/* Effect 13: three circles */
.cl-effect-13 a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.cl-effect-13 a::before {
    position: absolute;
    top: 90%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before, .cl-effect-13 a.active::before,
.cl-effect-13 a.active:focus::before {
    color: #f89406;
    text-shadow: 10px 0 #f89406, -10px 0 #f89406;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
    color: #ba7700;
}

/********* profile details **********/
.profile_details {
    float: right;
    margin: 15px 25px;
}

/*-------LOGIN STARTS HERE -------*/
.userbox_container {
    position: relative;
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}

.userbox {
    display: inline-block;
    position: relative;
    z-index: 30;
    cursor: pointer;
    padding: 0 30px 0 0;
}

/* Login Button Text */
.userbox span {
    color: #FFF;
    font-size: 1em;
    display: inline-block;
    padding: 0 0 0 0;
    font-family: 'Cabin', sans-serif;
}

/* Login Box */
.user_box_action {
    position: absolute;
    top: 53px;
    right: 10px;
    display: none;
    z-index: 29;
}

/* Login Form */
#form_user_action {
    width: 200px;
    background: #1F253D;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}

#form_user_action:after {
    content: '';
    position: absolute;
    right: 40px;
    top: -6px;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid #1F253D;
}

#form_body {
    padding: 15px;
}

.user_info h4 {
    font-size: 1em;
    color: #FFF;
    padding-bottom: 15px;
    text-align: center;
}

.user_info h4 a {
    color: #11A8AB;
}

.user_info ul li.profile {
    float: left;
}

.user_info ul li.logout {
    float: right;
}

.user_info ul li {
    display: inline-block;
}

.user_info ul li a {
    padding: 8px 15px;
    color: #FFF;
    font-size: 0.85em;
    border: none;
    display: block;
    background: #50597B;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.user_info ul li a:hover, .user-info ul li.active a {
    background: #E64C65;
}

.profile_img {
    float: left;
    padding: 0 10px 0 0;
}

.profile_img img {
    display: block;
    border-radius: 3em;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -o-border-radius: 3em;
    border: 3px solid #eee;
}