<template name="home">
    {{>banner}}
    <div class="banner-bottom">
        <div class="container">
            <div class="banner-bottom-grids">
                <div class="col-md-5 banner-bottom-grid wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>vel illum qui dolorem eum</h2>

                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>

                    <div class="more">
                        <a href="#" class="hvr-curl-bottom-right">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 banner-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="banner-bottom-grid1">
                    <img src="images/1.jpg" alt=" " class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
</template>