<template name="home">
    {{>banner}}
    <div class="banner-bottom">
        <div class="container">
            <div class="banner-bottom-grids">
                <div class="col-md-5 banner-bottom-grid wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>vel illum qui dolorem eum</h2>

                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>

                    <div class="more">
                        <a href="#" class="hvr-curl-bottom-right">Read More</a>
                    </div>
                </div>
                <div class="col-md-7 banner-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="banner-bottom-grid1">
                        <img src="images/1.jpg" alt=" " class="img-responsive"/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="banner-bottom-grids">
                <div class="col-md-6 banner-bottom-grid-1 wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="banner-bottom-grid-11">
                        <img src="images/2.jpg" alt=" " class="img-responsive"/>

                        <div class="banner-bottom-grid-11-pos">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>

                            <div class="more m1">
                                <a href="single.html" class="hvr-curl-bottom-right">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 banner-bottom-grid-1 wow fadeInLeftBig" data-wow-duration="1500ms" data-wow-delay="100ms">
                    <h3>Excepteur sint occaecat cupidatat non proident</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Join Us -->
    <div class="join-us">
        <div class="container">
            <div class="join-us-info">
                <h3 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">Join Us</h3>

                <p class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences</p>
                <a class="btn join-us-button" href="/signup">Join Us</a>
            </div>
        </div>
    </div>
    <!-- //Join Us -->
</template>