<template name="banner">
    <div class="banner">
        <div class="container">
            <div class="banner-info">
                <h1 class="animated fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">Sed ut perspiciatis unde omnis iste natus.<span>Excepteur sint occaecat cupidatat non proident</span>
                </h1>

                <div class="banner-info1 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <ul id="flexiselDemo1">
                        <li>
                            <div class="banner-info1-grid">
                                <div class="img-responsive" style="position: relative">
                                    <div class="author-avatar">
                                    </div>
                                    <img src="images/1.png" alt=" " class="img-responsive"/>
                                </div>
                                <h3>denouncing pleasure</h3>

                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info1-grid">
                                <div>
                                    <img src="images/2.png" style="position: relative; top: 0; left: 0;"/>
                                </div>
                                <h3>denouncing pleasure</h3>

                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info1-grid">
                                <div class="img-responsive" style="position: relative">
                                    <div class="author-avatar">
                                    </div>
                                    <img src="images/3.png" alt=" " class="img-responsive"/>
                                </div>
                                <h3>denouncing pleasure</h3>

                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>