<template name="dashboard">
    <div class="main-bottom">
        <div class="profile_gird">
            <div class="profile">
                <div class="grid-profile-img">
                    <img src="">
                </div>
                <div class="user_profile_details">
                    <div class="profile-desc">
                        <div class="profile-description">
                            <div class="user_avatar">
                                <img src="">
                            </div>
                            <div class="user-details">
                                <h2>Lam Nguyen</h2>
                                <p>
                                    <span>Web, Mobile Developer</span>
                                </p>
                                <p>Like Cooking and Coding</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>