<template name="dashboard">
    <div class="main-dashboard">
        <div class="wrap-dashboard">
            <div class="main-bottom">
 	          	 <div class="profile-grid">
 	          	  <div class="profile">
 	          		 <div class="profile-img">
 	          			<img src="images/cover-page.jpg" alt="">
 	          		 </div>
 	          		 <div class="profile-details">
 	          			<div class="profile-desc">
 	          				<div class="profile-description">
 	          				 <div class="profile-pic"><img src="images/profile-img.jpg" alt=""></div>
 	          				 <div class="user-details">
 	          					<h2>Gerry robins</h2>
 	          					<p><span>UX &amp; GUI Designer, Expert in social</span></p>
 	          					<p>media and surfing waves</p>
 	          				</div>
 	          				 <div class="clear"></div>
 	          			  </div>
 	          			</div>
 	          			  <div class="user-followers">
 	          				<ul>
 	          				    <li><span>642</span><br>Followers</li>
 	          				    <li><span>256</span><br>Likes</li>
 	          				    <li><span>52</span><br>Projects</li>
 	          				</ul>
 	          			 </div>
 	          		   <div class="clear"></div>
 	          		 </div>
 	          	   </div>
 	          	 </div>
 	          </div>
        </div>
    </div>
</template>