<template name="signup">
    <div class="main main-login" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/Food-Wallpapers-HD-7.jpg') no-repeat  0px 0px;background-size: cover;">
        <h1 class="animated wow fadeInDown">Đăng K&iacute;</h1>

        <div class="main-info animated fadeInLeftBig">
            <div class="main-info1">
                <form id="signup_form">
                    <input type="text" id="fullname" name="fullname" style=" margin-bottom: 1em;" placeholder="T&ecirc;n t&agrave;i khoản" required>
                    <input type="text" id="email" name="email" placeholder="Tên Đăng Nhập" required>
                    <input type="password" id="password" name="password" placeholder="Mật Khẩu" required>
                    <input type="submit" value="{{i18n 'form.sign_up'}}">
                </form>
                <p>Bạn đ&atilde; c&oacute; t&agrave;i khoản? <a href="#">Đăng nhập&nbsp;</a></p>
            </div>
        </div>
    </div>
</template>