<template name="header">
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="/">Foods</a>
                    </div>
                </div>
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    {{#if currentUser}}
                    <div class="profile_details">
                        <div class="userbox_container">
                            <a class="userbox">
                                <span>{{currentUser.profile.name}}</span>
                            </a>
                            <div class="user_box_action">
                                <form id="form_user_action">
                                    <fieldset id="form_body">
                                        <div class="user_info">
                                            <h4>
                                                "Xin Chào",
                                                <a href="#"> {{currentUser.profile.name}}</a>
                                            </h4>
                                            <ul>
                                                <li class="profile active">
                                                    <a href="#">Profile </a>
                                                </li>
                                                <li class="logout"><a href="#"> Logout</a></li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="profile_img"></div>
                    </div>
                    {{else}}
                    <div class="login-button">
                        <nav class="cl-effect-13" id="cl-effect-13">
                            <ul class="nav navbar-nav">
                                <li><a href="/signup">Sign up</a></li>
                                <li><a href="/login">Sign in</a></li>
                            </ul>
                        </nav>
                    </div>
                    {{/if}}
                </div>
            </nav>
        </div>
    </div>
</template>
