<template name="login">

    <div class="main main-login" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('') 0px 0px ">
        <h1 class="animated wow fadeInDown">Đăng nhập</h1>

        <div class="main-info animated fadeInLeftBig">
            <div class="main-info1">
                <form>
                    <input type="text" placeholder="Tên Đăng Nhập" required>
                    <input type="password" placeholder="Mật Khẩu" required>
                    <input type="submit" value="Đăng Nhập">
                </form>
                <p>Quên Mật Khẩu? <a href="#">Bấm vào đây</a></p>
            </div>
        </div>
    </div>

    <!--Main-->
</template>